@import "../../styles/colors.scss";

.wrapper_card_solution {
  display: flex;
  box-shadow: 0 0 30px 0 rgba(101, 100, 219, 1);
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 1100px;
}

.img_solution {
  width: 100%;
}

.theory {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 12px;
  margin-left: 100px;
}

.theory_title {
  color: $orange;
  font-weight: 600;
}

.theory_tag {
  display: flex;
  border-radius: 20px;
  padding: 8px 20px;
  background-color: $blue;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.4s linear;

  &:hover {
    background-color: $blueHover;
  }
}
