@import '../../../styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Noto+Sans:wght@300;500;600;700&display=swap');

.container {
    margin: 0 auto;
    width: calc(100% - 2 * 60px);
    padding: 0;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.test {
    // border: 1px solid red;
    width: 100%;
    margin-top: 70px;

    &__container {
        position: relative;
        width: 500px;
        // border: 1px solid red;
        height: 208px;
        display: flex;
        align-items: center;
    }

    &__pointer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        position: absolute;
        top: -60px;
        right: -331px;

    }

    &__text {
        font-family: 'Caveat', sans-serif;
        font-size: 28px;
        text-transform: uppercase;
        color: $black;
    }

    &__btn {
        width: 500px;
        height: 88px;
        border: none;
        background-color: $orange;
        border-radius: 20px;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        cursor: pointer;
        transition: all 1s ease;
    }

    &__btn:hover {
        background-color: $white;
        color: $orange;
        box-shadow: inset 0 0 0 3px $orange;

    }
}