@import "../../styles/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Noto+Sans:wght@300;500;600;700&display=swap");

.newcard {
  width: 1100px;
  background-color: $bgWhite5;
  border-radius: 20px;
  position: relative;
  padding: 60px 0 30px 110px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  min-height: 250px;

  p {
    // font-family: "Cormorant Infant", serif;
    font-family: "Times NR Cyr MT";
    font-weight: 200;
    font-style: normal;
  }

  &__bookmark,
  &__bookmarkNot,
  &__done,
  &__doNot,
  &__like,
  &__likeNot {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__bookmark,
  &__bookmarkNot {
    width: 40px;
    height: 48px;
    background-size: 56px 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 30px;
    display: block;
  }

  &__bookmark {
    background-image: url("../../img/bookmark.svg");
  }

  &__bookmarkNot {
    background-image: url("../../img/bookmark_not.svg");
  }

  &__done,
  &__doNot {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: 72px;
  }

  &__done {
    background-image: url("../../img/task_done.svg");
  }

  &__doNot {
    background-image: url("../../img/task_doNot.svg");
  }

  &__like,
  &__likeNot {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__like {
    background-image: url("../../img/like.svg");
  }

  &__likeNot {
    background-image: url("../../img/like_not.svg");
  }

  &__skill {
    width: 120px;
    height: 40px;
    background-color: $orange;
    border-radius: 20px 20px 0 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      padding: 0;
      margin: 0;
    }
  }

  &__task {
    display: flex;
    justify-content: space-between;
    // border: 1px solid red;

    p {
      text-align: left;
      font-size: 24px;
      display: contents;
    }
  }

  &__statistics {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 120px;
  }

  &__statisticsLike {
    display: flex;
    // border: 1px solid red;
    align-items: center;

    p {
      padding-left: 8px;
      font-size: 24px;
      width: 90px;
    }
  }

  &__statisticsDecisions {
    display: flex;
    // border: 1px solid red;
    flex-direction: column;

    div {
      display: flex;
      align-items: center;

      p {
        padding-left: 8px;
        font-size: 24px;
      }
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 16px;
    }
  }

  &__btns {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    background-color: $dark_blue;
    color: $white;
    border-radius: 20px;
    width: 184px;
    height: 48px;
    border: none;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.4s linear;
    font-family: "Times NR Cyr MT";
    z-index: 2;
  }

  &__btn:hover {
    background-color: $violet;
  }

  &__condition {
    display: flex;
    align-items: center;
    font-family: "Times NR Cyr MT";
    // border: 1px solid red;
  }

  &__conditionImg {
    height: auto;
    width: auto;
    max-height: 45px;
    &_small {
      max-height: 35px;
    }
    &_large {
      max-height: 55px;
    }
  }

  &__edit {
    position: absolute;
    bottom: 10px;
    right: 30px;
  }

  &__skillImg {
    width: 250px;
    border-style: none;
    position: absolute;
    top: 0;
    right: 100px;
  }

  &__img_wrapper {
    position: absolute;
    right: 110px;
    top: 25px;
    z-index: 1;
  }

  &__tag {
    padding: 4px 8px;
    background-color: $blueDisable;
    width: fit-content;
    border-radius: 20px;
    height: 28px;
  }
}
