@import '../../../styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Noto+Sans:wght@300;500;600;700&display=swap');


.container {
    margin: 0 auto;
    width: calc(100% - 2 * 60px);
    padding: 0;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example {
    // border: 1px solid red;
    background-color: $violet;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    &__discription {
        color: $white;
        width: 800px;

        p {
            margin: 0;
            padding: 20px 0;
        }
    }

    &__slider {
        display: flex;
        align-items: center;
    }

    &__sliderLeft,
    &__sliderRight {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

}