@font-face {
    font-family: 'Times NR Cyr MT';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("times-nr-cyr-mt") format("woff2"),
        url("times-nr-cyr-mt") format("woff");
}
