@import '../../../styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Noto+Sans:wght@300;500;600;700&display=swap');


.container {
    margin: 0 auto;
    width: calc(100% - 2 * 60px);
    padding: 0;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.solution {
    width: 100%;
    padding-top: 100px;
    background-color: $violet;

    &__container {
        margin: 0 auto;
        width: calc(100% - 2 * 60px);
        display: grid;
        grid-template-areas:
            "textual theory"
            "video video";
        grid-template-columns: 530px 530px;
        grid-template-rows: 750px 450px;
        gap: 40px;
        justify-content: center;
    }

    &__text {
        grid-area: textual;
        // border: 1px solid red;
        align-self: start;
    }

    &__theory {
        grid-area: theory;
        // border: 1px solid red;
        align-self: end;
    }

    &__video {
        height: 450px;
        grid-area: video;
        // border: 1px solid red;
    }

    &__substrateText,
    &__substrateTheory {
        background-color: $blue;
        height: 583px;
        border-radius: 20px;
        padding: 0 10px 10px;
        box-sizing: content-box;
        position: relative;
    }

    &__pointerText,
    &__pointerTheory,
    &__pointerVideo {
        position: absolute;
        display: flex;
        align-items: flex-end;
    }

    &__pointerText {
        height: 113px;
        top: -115px;
        left: 0;
    }

    &__pointerTheory {
        top: -92px;
        right: 0;
        height: 90px;
        flex-direction: row-reverse;
    }

    &__pointerVideo {
        top: -102px;
        left: 0;
        height: 100px;
    }

    &__substrateVideo {
        height: 400px;
        background-color: $blue;
        width: 100%;
        border-radius: 20px;
        position: relative;
        padding: 0 20px;
    }

    &__arrowTitle {
        font-family: 'Caveat', sans-serif;
        font-size: 28px;
        text-transform: uppercase;
        color: $white;
        padding: 0 5px 0 0 !important;
        margin: 0 !important;
        align-self: start;
    }

    &__discription {
        margin: 0;
        padding: 20px 0;
    }

}




.solution__img {
    background-image: url('../../../img/textsolution.jpg');
    width: 100%;
    height: 508px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    border-radius: 20px;
}