@import '../../styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Noto+Sans:wght@300;500;600;700&display=swap');

.content {
    background-color: $white;
    width: 100%;
    height: 525px;
}

.container {
    margin: 0 auto;
    width: calc(100% - 2 * 60px);
    padding: 0;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;


    .titles {
        width: 90%;
        color: $black;
    }
}

.title {
    padding-bottom: 20px;

}

.subtitle {
    font-size: 18px;
    font-weight: 400;
}

.cards__container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px;
    grid-column-gap: 32px;
    justify-content: center;
}

.cards {
    width: 100%;
    margin-top: 30px;
}


.test {
    // border: 1px solid red;
    width: 100%;
    margin-top: 70px;

    &__container {
        position: relative;
        width: 500px;
        // border: 1px solid red;
        height: 208px;
        display: flex;
        align-items: center;
    }

    &__pointer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        position: absolute;
        top: -60px;
        right: -331px;

    }

    &__text {
        font-family: 'Caveat', sans-serif;
        font-size: 28px;
        text-transform: uppercase;
        color: $black;
    }

    &__btn {
        width: 500px;
        height: 88px;
        border: none;
        background-color: $orange;
        border-radius: 20px;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        cursor: pointer;
        transition: all 1s ease;
    }

    &__btn:hover {
        background-color: $white;
        color: $orange;
        box-shadow: inset 0 0 0 3px $orange;

    }
}

.example {
    // border: 1px solid red;
    background-color: $violet;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    &__discription {
        color: $white;
        width: 800px;

        p {
            margin: 0;
            padding: 20px 0;
        }
    }

    &__slider {
        display: flex;
        align-items: center;
    }

    &__card {
        width: 1100px;
        height: 352px;
        background-color: $white;
        border-radius: 20px;
        position: relative;
        padding: 60px 0 30px 110px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__sliderLeft,
    &__sliderRight,
    &__bookmark,
    &__done,
    &__like {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__bookmark {
        background-image: url('../../img/bookmark.svg');
        width: 40px;
        height: 48px;
        background-size: 56px 70px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 30px;
    }

    &__done {
        background-image: url('../../img/task_done.svg');
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 3px;
        left: 72px;
    }

    &__like {
        background-image: url('../../img/like.svg');
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__complexity {
        width: 120px;
        height: 40px;
        background-color: $orange;
        border-radius: 20px 20px 0 20px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            padding: 0;
            margin: 0;
        }
    }

    &__task {
        display: flex;
        justify-content: space-between;
        // border: 1px solid red;

        p {
            text-align: left;
            width: 80%;
            font-size: 24px;
        }
    }

    &__statistics {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        width: 120px;

    }

    &__statisticsLike {
        display: flex;
        // border: 1px solid red;
        align-items: center;

        p {
            padding-left: 8px;
            font-size: 24px;
            width: 90px;
        }
    }

    &__statisticsDecisions {
        display: flex;
        // border: 1px solid red;
        flex-direction: column;

        div {
            display: flex;
            align-items: center;

            p {
                padding-left: 8px;
                font-size: 24px;
            }
        }

        p {
            margin: 0;
            padding: 0;
            font-size: 16px;
        }
    }

    &__btns {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        background-color: $dark_blue;
        color: $white;
        border-radius: 20px;
        width: 184px;
        height: 48px;
        border: none;
        font-weight: 400;
        font-size: 24px;
        cursor: pointer;
        transition: background-color 0.4s linear;
    }

    &__btn:hover {
        background-color: $violet;
    }
}





.solution {
    width: 100%;
    padding-top: 100px;
    background-color: $violet;

    &__container {
        margin: 0 auto;
        width: calc(100% - 2 * 60px);
        display: grid;
        grid-template-areas:
            "textual theory"
            "video video";
        grid-template-columns: 530px 530px;
        grid-template-rows: 750px 450px;
        gap: 40px;
        justify-content: center;
    }

    &__text {
        grid-area: textual;
        // border: 1px solid red;
        align-self: start;
    }

    &__theory {
        grid-area: theory;
        // border: 1px solid red;
        align-self: end;
    }

    &__video {
        height: 450px;
        grid-area: video;
        // border: 1px solid red;
    }

    &__substrateText,
    &__substrateTheory {
        background-color: $blue;
        height: 583px;
        border-radius: 20px;
        padding: 0 10px 10px;
        box-sizing: content-box;
        position: relative;
    }

    &__pointerText,
    &__pointerTheory,
    &__pointerVideo {
        position: absolute;
        display: flex;
        align-items: flex-end;
    }

    &__pointerText {
        height: 113px;
        top: -115px;
        left: 0;
    }

    &__pointerTheory {
        top: -92px;
        right: 0;
        height: 90px;
        flex-direction: row-reverse;
    }

    &__pointerVideo {
        top: -102px;
        left: 0;
        height: 100px;
    }

    &__substrateVideo {
        height: 400px;
        background-color: $blue;
        width: 100%;
        border-radius: 20px;
        position: relative;
        padding: 0 20px;
    }

    &__arrowTitle {
        font-family: 'Caveat', sans-serif;
        font-size: 28px;
        text-transform: uppercase;
        color: $white;
        padding: 0 5px 0 0 !important;
        margin: 0 !important;
        align-self: start;
    }

    &__discription {
        margin: 0;
        padding: 20px 0;
    }

}

.video {
    width: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;

    &__content {
        width: 700px;
        height: 320px;
        border-radius: 20px;
        // border: 1px solid red;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__timeCode {
        width: 320px;
        height: 320px;
        border-radius: 20px;
        // border: 1px solid red;
        background-color: $white;
        padding: 20px 0;
    }
}


.solution__img {
    background-image: url('../../img/textsolution.jpg');
    width: 100%;
    height: 508px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    border-radius: 20px;
}

.news {
    width: 100%;
    height: 150px;
    background: $black;
    color: $blue;
}

.statistic {
    width: 100%;
    height: 150px;
    background: $black;
    color: $blue;
}